html {
  font-size: 62.5%;
}

body {
	padding-top: 11rem;
	font: 1.4rem/1.9rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: #f14a23;
	box-shadow: 0px 2px 0px #fff, 0px 8px 0px #baeaef;
	text-decoration: none;
}

textarea, button, input[type=text] {
	-webkit-appearance: none;
	font-size: 1.4rem;
	border: 1px solid #ccc;
	outline: 0;

	&:focus::placeholder {
		color: transparent;
	}
}

label {
	display: block;
	margin: 2rem 0 1rem;
}

textarea {
	width: 600px;
	height: 192px;
	padding: 5px 7px;
	box-sizing: border-box;
}

input[type=text] {
	height: 22px;
	width: 160px;
	padding: 5px 7px;
}

button {
	height: 32px;
	width: 80px;
}

#app {
	width: 600px;
	margin: 0 auto;
}

.issue-creator {

	&__issues {
		position: relative;
	}

	&__block {
		position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
    width: 600px;
    height: 192px;
    border: 1px solid #ccc;
    box-sizing: border-box;
	}

	&__issues-help {
		margin: .5rem 0 2rem;
		color: #666;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}

	&__error {
		color: #f12323;
	}
}

.new-issues {
	ul {
		list-style: none;
		padding-left: 0;

		li {
			margin-bottom: 1rem;
		}
	}
}